@{
    ViewBag.Title = "Login";
}

@model CryptocurrencyRateWebApp.Models.User

@if (Session.IsNewSession) {

    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" })) {
        <div style="text-align:center"><h4>Login</h4></div>
        <div class="form-group">
            @Html.LabelFor(user => user.Email)<br />
            @Html.EditorFor(user => user.Email, new { htmlAttributes = new { placeholder = "Enter email", autocomplete = "off", @class="form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(user => user.Password)<br />
            @Html.PasswordFor(user => user.Password, new { @class="form-control" })
        </div>
        @Html.ValidationSummary()
        <input type="submit" value="login" class="btn btn-toolbar center-block" />
        <div style="text-align:center">
            <span>Have no account? </span>
            @Html.ActionLink("Register", "Registration", "Account")
        </div>
    }
}
else {
    <h2>You authorized as @Session["email"]</h2>
    <span>There will be information about user</span>
}
